name: Publish Python

on:
  workflow_dispatch:

jobs:
  publish_wheels:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: |
            3.8
            3.9
            3.10
            3.11
            3.12
            3.13

      - name: Install Tooling
        run: |
          pip install poetry
          pip install --user tox
          pip install --user twine

      - name: Extract Yggdrasil Core Version
        id: extract_version
        working-directory: ./python-engine
        shell: bash
        run: |
          CORE_VERSION=$(python3 -c "import yggdrasil_engine;print(yggdrasil_engine.__yggdrasil_core_version__)")
          echo "FFI Library Version: $CORE_VERSION"
          echo "CORE_VERSION=$CORE_VERSION" >> $GITHUB_ENV

      - name: Extract Python engine version
        id: extract_engine_version
        working-directory: ./python-engine
        shell: bash
        run: |
          ENGINE_VERSION=$(poetry version -s)
          echo "Python Engine Version: $ENGINE_VERSION"
          echo "ENGINE_VERSION=$ENGINE_VERSION" >> $GITHUB_ENV

      - name: Download binaries
        working-directory: ./python-engine
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release download "yggdrasilffi-v${{ steps.extract_version.outputs.CORE_VERSION }}" --repo "Unleash/yggdrasil-bindings" -D binaries
      - name: Build wheels
        working-directory: ./python-engine
        run: |
          poetry install
          tox

      - name: Publish wheels
        working-directory: ./python-engine
        run: |
          twine upload staging/* --skip-existing
        env:
          TWINE_USERNAME: '__token__'
          TWINE_PASSWORD: ${{ secrets.PYPI_PUBLISH_KEY }}
      - name: Create tag
        uses: actions/github-script@v8
        with:
          script: |
            github.rest.git.createRef({
              owner: github.context.repo.owner,
              repo: github.context.repo.repo,
              ref: `refs/tags/python-engine-v${{ steps.extract_engine_version.outputs.ENGINE_VERSION }}`,
              sha: github.context.sha,
            });
