name: Publish Ruby
on:
  workflow_dispatch:

jobs:
  extract_versions:
    runs-on: ubuntu-latest
    outputs:
      engine_version: ${{ steps.read_gem_data.outputs.ENGINE_VERSION }}
      core_version: ${{ steps.read_gem_data.outputs.CORE_VERSION }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Extract Yggdrasil Engine Version
        id: read_gem_data
        working-directory: ./ruby-engine
        run: |
          ruby -e "spec = Gem::Specification.load('yggdrasil-engine.gemspec'); puts \"ENGINE_VERSION=#{spec.version}\"; puts \"CORE_VERSION=#{spec.metadata['yggdrasil_core_version']}\"" >> $GITHUB_OUTPUT
  build_single_binary_gems:
    needs: extract_versions
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - binary: libyggdrasilffi_x86_64.so
            platform: x86_64-linux
          - binary: libyggdrasilffi_arm64.so
            platform: aarch64-linux
          - binary: libyggdrasilffi_x86_64-musl.so
            platform: x86_64-linux-musl
          - binary: libyggdrasilffi_arm64-musl.so
            platform: aarch64-linux-musl
          - binary: yggdrasilffi_x86_64.dll
            platform: x64-mingw32
          - binary: yggdrasilffi_x86_64.dll
            platform: x64-mingw-ucrt
          - binary: yggdrasilffi_arm64.dll
            platform: arm64-mingw32
          - binary: libyggdrasilffi_x86_64.dylib
            platform: x86_64-darwin
          - binary: libyggdrasilffi_arm64.dylib
            platform: arm64-darwin

    steps:
      - uses: actions/checkout@v5
        name: Checkout repository

      - name: Overwrite Build Platform
        if: matrix.platform != ''
        run: echo "YGG_BUILD_PLATFORM=${{ matrix.platform }}" >> $GITHUB_ENV

      - name: Download Binary
        working-directory: ./ruby-engine
        shell: bash
        run: |
          if ! gh release download "yggdrasilffi-v${{ needs.extract_versions.outputs.core_version }}" --repo "Unleash/yggdrasil-bindings" --pattern="${{ matrix.binary }}" -D lib/; then
            echo "Error: Failed to download ${{ matrix.binary }} from release"
            exit 1
          fi
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Build Gem
        run: |
          cd ruby-engine
          gem build yggdrasil-engine.gemspec
        working-directory: ${{ github.workspace }}
        env:
          GEM_HOST_API_KEY: ${{ secrets.GEMS_PUBLISH_KEY }}

      - name: Build Gem
        run: |
          cd ruby-engine
          gem build yggdrasil-engine.gemspec
          export GEM_FILE=$(ls yggdrasil-engine-*.gem)
          echo "gem_file_name=$GEM_FILE" >> $GITHUB_ENV

      - name: Upload Gem
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.gem_file_name }}
          path: ruby-engine/${{ env.gem_file_name }}

  build_jruby_gems:
    runs-on: ubuntu-latest
    needs: extract_versions
    strategy:
      matrix:
        include:
          - java: 11
            ruby: jruby-9.3
          - java: 17
            ruby: jruby-9.4
          - java: 21
            ruby: jruby-9.4

    steps:
      - uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'

      - name: Setup JRuby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Download binaries
        working-directory: ./ruby-engine
        shell: bash
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          gh release download "yggdrasilffi-v${{ needs.extract_versions.outputs.core_version }}" --repo Unleash/yggdrasil-bindings -D lib/
      - name: Build JRuby Gem
        run: |
          gem build yggdrasil-engine.gemspec
          export GEM_FILE=$(ls yggdrasil-engine-*.gem)
          echo "gem_file_name=$GEM_FILE" >> $GITHUB_ENV
        working-directory: ruby-engine
        env:
          GEM_HOST_API_KEY: ${{ secrets.GEMS_PUBLISH_KEY }}

      - name: Upload JRuby Gem
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.gem_file_name }}
          path: ruby-engine/${{ env.gem_file_name }}


  publish_gems:
    runs-on: ubuntu-latest
    needs: [build_single_binary_gems, build_jruby_gems]
    steps:
      - uses: actions/download-artifact@v4
        name: Download artifacts
        with:
          pattern: yggdrasil-engine-*
          path: gems

      - name: Publish Gems
        run: |
          cd gems
          find . -name "*.gem" -type f | while read -r gem_file; do
            echo "Pushing $gem_file..."
            gem push "$gem_file"
          done
        env:
          GEM_HOST_API_KEY: ${{ secrets.GEMS_PUBLISH_KEY }}
  tag_repo:
    runs-on: ubuntu-latest
    needs: [extract_versions, publish_gems, build_single_binary_gems, build_jruby_gems]
    steps:
      - uses: actions/checkout@v5
        name: Checkout repository
      - name: Make a tag for the ruby release
        uses: actions/github-script@v8
        with:
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/ruby-engine-v${{ needs.extract_versions.outputs.engine_version }}',
              sha: context.sha
            })
