name: Publish Java
on:
  workflow_dispatch:

jobs:

  publish_jars:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Publish to Maven Central Portal
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.GPG_PRIVATE_KEY }}
          ORG_GRADLE_PROJECT_signingPassphrase: ${{ secrets.GPG_PASSPHRASE }}
          ORG_GRADLE_PROJECT_mavenCentralToken: ${{ secrets.MAVEN_CENTRAL_TOKEN }}
        run: |
          cd java-engine
          ./gradlew publishToMavenCentralPortal
